:root{
    --primary-color:#390099;
    --accent1-color:#FF5400;
    --accent2-color:#131312;
    --label-color:#ffff;
    --secondary-color : rgb(179, 200, 206);
    --background-small: rgb(179, 222, 222);
    --blue-color: rgb(37, 37, 164);
    
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


/* General styles */
   body {
    font-family: 'Jost', 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header - CSS Grid */
  header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--accent2-color);
    color: var(--label-color);
    padding: 10px;
}

   header .mylogo img {
    width: 100px;
}

/* Navigation - CSS Flex */
  nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--label-color);
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    border: 10px solid var(--accent1-color);
    }

     
h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: var(--label-color);
    font-size: 3rem;
    background-color: rgba(3, 0, 0, 0.6); 
    width: 100%;

}

/* Hero Section */
.hero {
    background-image: url('../images/hero1.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    color: var(--label-color); 
    text-align: center; 
    position: relative; 
    z-index: 1; 
    
}


.hero::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}


.hero-content h1 {
    font-size: 3rem;
}

.hero-content img {
    max-width: 100%;
    height: auto;
}


.hero aside {
    position: absolute;
    bottom: 180px;
    left: 20px;
    background-color: rgba(3, 0, 0, 0.6) ; 
    color: var(--label-color);
    padding: 10px;
    width: 80%; 
}

.hero aside img {
    float: right;
    width: 100px;
    margin-left: 10px;
}

.hero aside p {
    font-size: 1rem;
    line-height: 1.5;
}


.history p{
    padding: 30px;
}

 .adventure h2,
 .history h2{
    text-align: center;
    margin: 0;
    padding: 60px;
    color: var(--primary-color);
    font-size: 2rem;
    
}

/* History and Adventure sections */
.history, .adventure {
    padding: 20px;
    background-color: var(--label-color);
}

.pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.pictures img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


figure {
    text-align: center; 
    margin: 4px;
}

figcaption {
    font-size: 0.9rem;
    color: var(--accent2-color); 
    margin-top: 1px;
}

/* contact page*/

.map{
    padding: 15px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px 5px rgb(9, 9, 9); /* Shadow effect */
}

.map p {
    margin-bottom: 10px;
    font: bold;
}

.map-embed {
    width: 300px;
    height: 300px;
    border: none;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:  rgb(179, 222, 222);
    box-shadow: 0 0 10px 5px black; /* Shadow effect */
}

.form-group {
    margin-bottom: 15px;

}


label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="text"], 
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: var(--accent2-color);
    color: var(--label-color);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Align radio buttons and checkboxes with text */
.radio-label, .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

/* Style the form fieldset for radio button group */
fieldset {
    border: none;
    padding: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 5px;
}


.maps-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

/* Employee Profiles */
.employee-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 20px;
}

.employee img{
    width: 200px;
    
    
}

.employee{
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 6px;

}

.employee p {
    text-align: center;
    margin-top: 5px;
}


/* Footer */
footer {
    background-color: var(--accent2-color);
    color: var(--label-color);
    padding: 20px;
    text-align: center;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

footer .sociallinks img {
    width: 30px;
    height: 30px;
    color: var(--label-color);
}

footer a{
    text-decoration: none;
    color: var(--label-color);
    font-size: larger;
    font: bold;
}








/*welcoing message*/
.welcome-message {
    font-size: 1.3em;
    color: var(--dark-color);
    margin-bottom: 1em;

  }

   /* Fade-in animation */
   @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
   /* Styling for the delayed */
  .welcome-section{
    background-color: var(--label-color);
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-top: 4em;
    padding: 20px;
    opacity: 0; /* Start invisible */
    animation: fadeIn 1s ease-out forwards; /* 1s duration */
    animation-delay: 1s; /* 1-second delay */

  }


  .options-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2em;
  }

  .options-list li {
    font-size: 1.1em;
    margin: 0.5em 0;
    color: var(--dark-color);
  }

  .call-to-action {
    margin-top: 1em;
  }

  .cta-button {
    background-color: var(--blue-color);
    color: var(--label-color);
    padding: 0.8em 1.5em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: var(--secondary-color) 0.3s;
  }



  .cta-button:hover {
    background-color: var(--accent1-color);
  }


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }


.newsletter-container {
    background-color: var(--label-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    max-width: 600px;
    padding: 20px;
    margin-top: 30px;
  }

  .newsletter-container h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
  }

  form{
    text-align: left;
  }

  label {
    display: block;
    text-align: left;
    margin-top: 10px;
    color: var(--accent2-color);
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid var(--label-color);
    box-sizing: border-box;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .checkbox-container label {
    font-weight: normal;
  }

  .subscribe-button {
    background-color: var(--blue-color);
    color: var(--label-color);
    font-size: 1em;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .subscribe-button:hover {
    background-color: var(--primary-color);
  }


/* Call to Action */
.call-to-action {
    text-align: center;
    padding: 1rem;
}

.cta-button {
    background-color: var(--blue-color);
    color: var(--label-color);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
}



/* Explore Section */
.explore-section {
    margin: 20px;
    padding: 15px;
    background-color: var(--label-color);
    text-align: center;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.explore-item {
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.explore-item img {
    width: 100%;
    height: auto;
}


 /* Style summary to look clickable */
 summary {
    cursor: pointer;
    font-weight: bold;
    color: var(--label-color);
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }

  /* Style the answer text */
  .answer {
    margin-top: 0.5em;
    color: var(--dark-color);
    background-color: var(--label-color);
  }


  /* Add some space between each question */
  details {
    margin-bottom: 1em;
    display: block;
    background-color: var(--blue-color);
    
  }

  .questions{
    margin-top: 30px;
    background-color: var(--label-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    max-width: 600px;
    padding: 20px;
  }



/* Trip CTA Section */
.trip-cta {
    text-align: center;
    background-color: var(--label-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(7, 6, 5, 0.8);
}

.trips h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8em;
}

.trip-cta h2 {
    margin-top: 0;
}

.trip-cta p {
    margin-bottom: 15px;
}

.trip-cta .cta-button {
    display: inline-block;
    background-color: var(--blue-color);
    color: var(--label-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.trip-cta .cta-button:hover {
    background-color: var(--accent2-color);
}

/* Trip Details Section */
.trip-details {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;

}

.trip-item {
    background-color: var(--label-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(7, 6, 5, 0.8);
    overflow: hidden;
}

.trip-item img {
    width: 300px;
    margin-top: 40px; 
    margin-left: 60px;
}

.trip-item h3 {
    padding: 15px;
    margin: 0;
    font-size: 1.4em;
    color: var(--blue-color);
}

.trip-item p {
    padding: 0 15px;
}

.trip-item ul {
    list-style-type: none;
    padding: 0 15px 15px;
    margin: 0;
}

.trip-item li {
    margin-bottom: 5px;
    color: rgb(3, 67, 3);
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    
}

/* Trip Table Section */
.trip-table {
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    max-width: 100%;
}

.trip-table h2 {
    text-align: center;
    margin-bottom: 15px;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.trip-table th, .trip-table td {
    padding: 10px;
    border: 1px solid var(--label-color);
    text-align: left;
}

.trip-table th {
    background-color: var(--blue-color);
    color: var(--label-color);
}

.trip-table tr:nth-child(even) {
    background-color: var(--label-color);
}
